.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup h2 {
    margin-top: 0;
}

.popup input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    background-color: transparent;
    border: 2px solid rgba(122, 122, 122, 0.91);
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 16px;
}

.popup button {
    background-color: rgba(155, 157, 150, 0.91);
    color: white;
}
.popup button.addButton:hover {
    background-color: rgba(141, 189, 36, 0.91);
    color: white;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
    font-size: 24px;
}

.close-icon:hover {
    color: rgba(201, 73, 73, 0.91);
}